.maintask {
  /* border: 2px solid black; */
  left: 40%;
  position: absolute;
}
.btn {
  margin-left: 50px;
  background-color: green;
  padding: 8px;
  border-radius: 30px;
  font-size: large;
  color: white;
}
.input {
  border: 2px solid black;
  padding-right: 20px;
  font-size: large;
  margin-top: 20px;
  border-radius: 10px;
  padding-left: 20px;
}
.delete {
  margin-left: 20px;
  margin-top: 20px;
}
.heading {
  color: red;
}
.list {
  margin-left: 30px;
}
